{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="{% url 'app:create_event' %}" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
                {{ form.title|as_crispy_field }}
            </div>
        </div>
        {{ form.location|as_crispy_field }}
        {{ form.info|as_crispy_field }}
        {{ form.image|as_crispy_field }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock %}
