{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Meetup Finder</title>
</head>

<body>
    

    <p1 style="color:red">welcome {{ name }}</p1>
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static event.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.info }}</p>
                    <a href="{% url 'event_detail' event.pk %}"
                    class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

<footer class="navbar fixed-bottom">
    <p>Authors: Bijan, Kaitlin, Maria, Maven <a href="https://github.com/uva-cs3240-f20/project-2-11" </a></p>
</footer>

</html>