{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <head>
        <title>Add Map</title>
        <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbcslruZ5Mdsa9QcmcgC50JdRLCyQIZc4&callback=initMap&libraries=&v=weekly"
                defer
        ></script>
        <style type="text/css">
            /* Set the size of the div element that contains the map */
            #map {
                height: 400px;
                /* The height is 400 pixels */
                width: 100%;
                /* The width is the width of the web page */
            }
        </style>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                const uluru = { lat: -25.344, lng: 131.036 };
                // The map, centered at Uluru
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 7,
                    center: uluru,
                });
                // The marker, positioned at Uluru
                const marker = new google.maps.Marker({
                    position: uluru,
                    map: map,
                });
            }
        </script>
    </head>
    <body>
    <h1>{{ event.title }}</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="row">
        <div class="col-md-8">
            <img src="{{ event.image.url }}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the event:</h5>
            <p>{{ event.info }}</p>
            <br>
            <h5>Location:</h5>
            <p>{{ event.location }}</p>
        </div>
    </div>
    <div id="map"></div>

    {% if user.is_authenticated %}
        <form action="{% url 'app:register' event.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Register</button>
        </form>
    {% endif %}
    </body>

{% endblock %}
