{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Meetup Finder</title>
</head>

<body>
    

    <p1 style="color:red">Welcome {{ user }}!</p1>
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card mb-2">
                <img class="card-img-top" src="{% static event.image %}">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.info }}</p>
                    <a href="{% url 'event_detail' event.pk %}"
                    class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
        var setting = {"height":540,"width":706,"zoom":17,"queryString":"1215 Lee St, Charlottesville, VA, USA","place_id":"ChIJJaYjDUeGs4kRZWb8qMcZ2M0","satellite":false,"centerCoord":[38.031443012421086,-78.4987554],"cid":"0xcdd819c7a8fc6665","lang":"en","cityUrl":"/us/va/charlottesville-2347","cityAnchorText":"Map of Charlottesville, Virginia, United States","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"290615"};
        var d = document;
        var s = d.createElement('script');
        s.src = 'https://1map.com/js/script-for-user.js?embed_id=290615';
        s.async = true;
        s.onload = function (e) {
          window.OneMap.initMap(setting)
        };
        var to = d.getElementsByTagName('script')[0];
        to.parentNode.insertBefore(s, to);
      })();</script><a href="https://1map.com/map-embed">1 Map</a></div> -->

      
        <head>
          <title>Simple Map</title>
          <style>
              * {
                  margin: 0;
                  padding: 0;
              }
              #map {
                  height: 500px;
                  width: 100%; 
              }
          </style>
          <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9XFiEJhU59cDGZ3QJ0tgAvlN6YK9x1zg&callback=initMap&libraries=&v=weekly"
            defer
          ></script>
          <link rel="stylesheet" type="text/css" href="./style.css" />
          <script src="./index.js"></script>
        </head>

        <body>
            <div id="map"></div>
            <script>
                function initMap() {
                    var location = {lat: 38.0336, lng: -78.5080};
                    var map = new google.maps.Map(document.getElementById("map"), {
                        zoom: 15,
                        center: location
                    });
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                }
            </script>
        </body>

      
</body>

<footer class="navbar fixed-bottom">
    <p>Authors: Bijan, Kaitlin, Maria, Maven <a href="https://github.com/uva-cs3240-f20/project-2-11" </a></p>
</footer>

</html>