{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>Meetup Finder</title>
</head>

<body>
    

    <h1>{{ event.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{% static event.image %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the event:</h5>
            <p>{{ event.info }}</p>
            <br>
            <h5>Location:</h5>
            <p>{{ event.location }}</p>
        </div>
    </div>



    <form method="get" action="register">
        <button type="submit">register</button>
    </form>


</body>

<footer class="navbar fixed-bottom">
    <p>Authors: Bijan, Kaitlin, Maria, Maven <a href="https://github.com/uva-cs3240-f20/project-2-11" </a></p>
</footer>

</html>