{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <body>
    {% if not user.is_authenticated %}
        <p><strong>Please <a href="/accounts/login">login</a> to post and register for events.</strong></p>
    {% endif %}
    <form id="searchform" action="{% url 'app:search' %}" method="GET">
        <input type="text" name="q" type="text"/>
        <button type="button" onclick="searchform.submit()">Search</button>
    </form>
    <div class="row">
        {% for event in events %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{{ event.image.url }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.info }}</p>
                        <a href="{% url 'app:event_detail' event.pk %}"
                           class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}